<div class="navbar applnHeader">
    <div class="navbar-inner">
        <div class="container">
    
            <span class="ciscoLogo"></span><a class="brand" href="#">Case Management</a>

            <ul class="toolbarActions">
                <li><i class="fa fa-cog" title="settings"></i></li>
                <li><i class="fa fa-share-square-o" title="logout"></i></li>
            </ul>  
            <form class="navbar-search">
                <input type="text" class="search-query" placeholder="Search">
            </form>
        </div>
    </div>
</div>
