/**
    file name: header.component.scss
    Author: Abhishek H Shekara
    Description: All the customized styles for the header component are defined here 
**/

@import '../../../../assets/scss/partials/variables';

.applnHeader{
    .ciscoLogo{background: url('../../../../assets/images/cisco-logo.png');background-size: 100%;
        background-repeat: no-repeat;float: left;height: 3.5em;margin: 0 10px;width: 3.5em;}
    .navbar-inner{border-bottom: 1px solid $border-color;width: 100%;}
    .brand{color: $primary-color;float: left;font-size: 2em;}
    .navbar-search{float: right;margin-top: 0.5em;
        input[type=text]{border: 1px solid $border-color;border-radius: 20px;padding: 3px 8px;width: 15em;}
    }
    .toolbarActions{float: right;margin: 12px;padding-left: 10px;
        li{display: inline-block;list-style: none;padding-left: 8px;
            .fa-share-square-o{position: relative;top: 2px;}
        }    
    }
}