/** Theming the application **/

/** Importing the bootstrap styles **/
@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

/** Importing the application dependencies **/
//All imports are done below
@import 'partials/variables'; //refers to _variables.scss file
@import 'partials/mixins'; //refers to _mixins.scss file
@import 'partials/functions'; //refers to all the custom functions defined in _functions.scss file
@import '../../../node_modules/ag-grid-community/dist/styles/ag-grid.css';
@import '../../../node_modules/ag-grid-community/dist/styles/ag-theme-balham.css';

//Importing fonts
@include google-font("Alegreya+Sans");
@include google-font("Titillium+Web");

//All Generic styles
html,body{color: $text-color;
    font-family: $app-font-family;
    margin: 0 1em;
}

.fa {color: $icon-color;font-size: 1.4em;cursor: pointer;}
.fa:hover{color: $primary-color;}

//Appcomponent style 
.caseTableOnLoad{width: 1050px; height: 250px;margin: 0 auto;}
.caseTable{display:inline-block;width: 450px; height: 250px;}
.ag-header-container {
    .ag-header-cell-label {
        .ag-header-cell-text {font-size: 1.4em;font-family: $app-font-family;}
    }
}
.ag-theme-balham .ag-root{border-color: $border-color;}
.ag-body-viewport .ag-cell{text-align: left;color: $text-color;}
.caseDetails{border: 1px solid $border-color;display: inline-block;height: 250px;margin: 0 10px auto;vertical-align: top;width: 700px;}
