/***
    File name: _variables.scss
    Author: Abhishek H Shekara
    Description: All the page related variables are defined in this file
***/


// Colors
$primary-color: #049fd9;
$icon-color: #acacac;
$text-color: #777777;
$theme-color: #170a48;
$secondary-color: #f27731;
$ternary-color: #ccf962;
$link-color: $secondary-color;
$default-color: #ffffff;
$border-color: #dedede;
$error-color: #B22222;
$success-color: #228B22;
$warning-color: $secondary-color;

// Fonts
$app-font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$text-font: "Titillium Web", Arial, sans-serif;
$headline-font: "Alegreya Sans", Arial,sans-serif;

// Sizes
$content-width: 960px;
$header-height: 30px;
$footer-height: 40px;
$row-space: 15px;
$col-space: 15px;